module.exports = {
  {{#eslint.babel}}
  parser: "babel-eslint",
  {{/eslint.babel}}
  extends: 'standard',
  env: {
    {{#features.jest}}
    jest : true,
    {{/features.jest}}
    node: true
  },
  rules: {
    'no-console': 'warn'
  }
}
