{{#features.flow}}
/* @flow */
{{/features.flow}}
{{#features.babel}}
import message from '../src/main'
{{/features.babel}}
{{^features.babel}}
var message = require('../src/main')
{{/features.babel}}

it('Test', {{#features.babel}}(){{#features.flow}}: void{{/features.flow}} =>{{/features.babel}}{{^features.babel}}function (){{/features.babel}} {
  expect(message).toBe('Hello {{package.name}}!')
})
