{{#if features.flow}}
/* @flow */
{{/if}}
{{#if features.babel}}const{{else}}var{{/if}} message{{#if features.flow}}: string{{/if}} = 'Hello {{package.name}}!'

{{#if features.babel}}
export default message
{{else}}
module.exports = message
{{/if}}
