{{#if features.flow}}
/* @flow */
{{/if}}
{{#if features.babel}}
import message from '../src/main'
{{else}}
var message = require('../src/main')
{{/if}}

it('Test', {{#if features.babel}}(){{#if features.flow}}: void{{/if}} =>{{else}}function (){{/if}} {
  expect(message).toBe('Hello {{package.name}}!')
})
