{{#features.flow}}
/* @flow */
{{/features.flow}}
{{#features.babel}}const{{/features.babel}}{{^features.babel}}var{{/features.babel}} message{{#features.flow}}: string{{/features.flow}} = 'Hello {{package.name}}!'

{{#features.babel}}
export default message
{{/features.babel}}
{{^features.babel}}
module.exports = message
{{/features.babel}}
